@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: #080911;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#080911, transparent);
    z-index: 1000;

}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#background_front
{
    z-index: 10;
}

#text
{
    position: absolute;
    right: -375px;
    color: #0c0531;
    white-space: nowrap;
    font-size: 8vw;
    z-index: 9;
    transform: translateY(75px);
}
#btn
{
    position: ;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.5em;
    z-index: 10;
    transform: translateY(250px);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec
{
    position: relative;
    padding: 100px;
    background: #080911;
}
.sec h2
{
    font-size: 3.5em;

    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;
    color: #fff;
    text-align: center;
}
.sec p
{
    font-size: 1.5em;
    color: #e1dfdf;
    margin-left: 200px;
    margin-top: 75px;
    margin-right: 200px;
    text-align: center;
}
.sec h3
{
    font-size: 6em;
    letter-spacing: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-top: 75px;
    margin-right: 200px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center; 
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        color: #0e3742;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4,
                    0 0 40px #03bcf4,
                    0 0 80px #03bcf4,
                    0 0 160px #03bcf4;

    }
}
.bubbles
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 50px;
    height: 50px;
    background: #4fc3dc;
    margin: 0 4px;
    margin-right:1100px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animateit 15s linear infinite;
    animation-duration: calc(200s / var(--i));
}
@keyframes animateit
{
    0%
    {
        transform: translateY(-390vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}


